@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.container .tela {
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    padding-top: 150px;
    padding-left: 150px;
    position: absolute;
    display: none;
}

.container .tela.mostrar {
    display: block;
    transition: 0.8s;
}

.container .primeira {
    background: url(./images/flores-brancas.jpeg) center center no-repeat;
}

.container .segunda {
    background: url(./images/floresta-4k.jpg)center center no-repeat;
}

.container .terceira {
    background: url(./images/floresta-do-outono.avif)center center no-repeat;
}

.container .quarta {
    background: url(./images/floresta-rio.jpg)center center no-repeat;
}

.container .tela .conteudo {
    background-color: #fff;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.container .tela .conteudo p{
    padding-top: 50px;
    padding-bottom: 50px;
}

.container .primeira .conteudo .btn-saiba-mais {
    color: rgb(196, 162, 11);
}

.container .segunda .conteudo .btn-saiba-mais {
    color: rgb(28, 182, 8);
}

.container .terceira .conteudo .btn-saiba-mais {
    color: rgb(156, 62, 7);
}

.container .quarta .conteudo .btn-saiba-mais {
    color: rgb(94, 119, 6);
}

.container .tela .conteudo .btn-saiba-mais {
    font-size: 20px;
    font-weight: bold;
    max-width: 36%;
}

.container .tela .conteudo .btn-saiba-mais:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.container .seta {
    background: url(./images/seta.png)no-repeat center;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    text-indent: 100%;
    overflow: hidden;
}

.container .seta.opacidade{
    opacity: 0.6;
    cursor: default;
}

.container .seta.avancar {
    right: 30px;
}

.container .seta.voltar {
    left: 30px;
    transform: rotate(180deg);
}